/* .layout-light .menu .ant-btn-ghost {
    color:  rgba(0, 0, 0, 0.85);
    border-color: rgba(0, 0, 0, 0.85);
}

.layout-dark .menu .ant-btn-ghost {
    color: rgba(255, 255, 255, 0.85);
    border-color: rgba(255, 255, 255, 0.85);
}

.layout-light .menu .ant-btn-ghost:hover {    
    background:rgba(255, 77, 79, 0.7);    
}

.layout-dark .menu .ant-btn-ghost:hover {
    background:rgba(255, 77, 79, 0.7);
}

.menu .ant-btn-primary {
    background:rgba(255, 77, 79, 1);
    color:  rgba(0, 0, 0, 0.85);
    border-color: rgba(0, 0, 0, 0.85);
} */