.carousel .ant-btn-ghost {
    margin-right: 8px;
    /* background: transparent;
    border-color: #fff;
    color: #fff; */
}

/* .carousel .ant-btn-ghost:hover {
    background: rgba(24, 144, 255, 0.7);
} */