.detail .ant-tabs-tab,
.detail .ant-descriptions-item-label,
.detail .ant-descriptions-item-content {
    font-size: 16px;
}

.detail .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
    width: 100%;
}

.detail .actions .ant-btn {
    width: 18%;
}


.detail .actions .ant-btn-primary {
    background: rgba(24, 144, 255, 1);
}

.detail .actions .ant-btn-primary {
    border: 0;    
    color: #f1f1f1;
}

.detail .actions .ant-btn-primary.like {
    background: #c23616;
}

.detail .actions .ant-btn-primary.check {
    background: #44bd32;
}

.detail .actions .ant-btn-primary.watchlist {
    background: #00a8ff;
}

.detail .actions .ant-btn-primary.score {
    background: #fadb14;
    color: #000;
}

.detail .actions .ant-btn-ghost.like:hover {
    background: #c23616;
}

.detail .actions .ant-btn-ghost.check:hover {
    background: #44bd32;
}

.detail .actions .ant-btn-ghost.watchlist:hover {
    background: #00a8ff;
}

.detail .actions .ant-btn-ghost.score:hover {
    background: #fadb14;
    color: #000;    
}

.detail .ant-rate-star {
    margin-right: 4px;
}

.detail .ant-progress-circle .ant-progress-inner {    
    border: 4px solid #0d1117;    
}

.detail .ant-progress {
    font-weight: bold;
}