.moviedetail .actions .ant-btn-ghost {
    margin-right: 8px;
}


.moviedetail .actions .ant-btn-primary {
    margin-right: 8px;
    background: rgba(24, 144, 255, 1);
}

/* .layout-light .moviedetail .actions .ant-btn-ghost:hover {
    background: rgba(24, 144, 255, 0.7);
}

.layout-dark .moviedetail .actions .ant-btn-ghost {
    margin-right: 8px;
    background: transparent;
    border-color: #000;
    color: #000;
}

.layout-dark .moviedetail .actions .ant-btn-ghost:hover {
    background: rgba(24, 144, 255, 0.7);
} */