.moviecard2 .ant-card-body {
    padding: 0;
}

.moviecard2 {
    border: 0;
}

.moviecard2 .container {
    position: relative;
    padding-bottom: 150%;    
}

.moviecard2 .poster {
    width: 100%;
    height: 100%;        
    object-fit: cover;       
    position: absolute;
    opacity: 0.5;
}

.moviecard2 .container .content {
    position: absolute;
    bottom: 0;        
    color: #f1f1f1;
    width: 100%;    
    height: 100%;    
    overflow: hidden;
}

.moviecard2 .container .content .top {
    height: 60%;
    background-image: linear-gradient(to top, rgb(8, 8, 8), rgba(8, 8, 8, 0.5));
}

.moviecard2 .container .content .actions {
    height: 25%;
    display: flex; 
    justify-content: space-around;
    align-items: center;
}

.moviecard2 .container .content .play {
    height: 40%;
    display: flex; 
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 1s ease;
}

.moviecard2 .container .content .score {
    height: 35%;
    text-align: center;
}

.moviecard2 .container .content .bot {
    height: 50%;
    background: rgb(8, 8, 8);
    padding: 8px;
}

.moviecard2 .container .content .actions .ant-btn-ghost {
    border: 0;
    color: #888;
}

.moviecard2 .container .content .actions .ant-btn-primary {
    border: 0;    
    color: #f1f1f1;
}

.moviecard2 .container .content .actions .ant-btn-primary.like {
    background: #c0392b;
}

.moviecard2 .container .content .actions .ant-btn-primary.check {
    background: #2ecc71;
}

.moviecard2 .container .content .actions .ant-btn-primary.watchlist {
    background: #3498db;
}

.moviecard2 .container .content .actions .ant-btn-primary.rate {
    background: #fadb14;
}

.moviecard2 .container .content .actions .ant-btn-ghost.like:hover {
    background: #c0392b;
}

.moviecard2 .container .content .actions .ant-btn-ghost.check:hover {
    background: #2ecc71;
}

.moviecard2 .container .content .actions .ant-btn-ghost.watchlist:hover {
    background: #3498db;
}

.moviecard2 .container .content .actions .ant-btn-ghost.rate:hover {
    background: #fadb14;
}

.moviecard2 .container .content:hover .play {
    opacity: 1;
}

.moviecard2 .container .content:hover .actions .ant-btn  {
    color: #FFF;
}