body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 400px;    
    height: 100%;
}
 
.layout-light {
    background-color: #f0f2f5;
    color: rgba(0, 0, 0, 0.85);
}

.layout-dark {
    background-color: #0d1117;
    color: rgba(255, 255, 255, 0.85);
}

.layout-light .ant-btn-circle,
.layout-light .ant-card,
.layout-light .ant-pagination-item,
.layout-light .ant-pagination-item a,
.layout-light .ant-pagination-item-link,
.layout-light .ant-table,
.layout-light .ant-table-thead > tr > th,
.layout-light .ant-input,
.layout-light .ant-input-group,
.layout-light .ant-select,
.layout-light .ant-select:not(.ant-select-customize-input) .ant-select-selector,
.layout-light .ant-select-selection-item,
.layout-light .ant-input-affix-wrapper {
    background-color: #fff;
    color:  rgba(0, 0, 0, 0.85);
}

.layout-dark .ant-btn-circle,
.layout-dark .ant-card,
.layout-dark .ant-pagination-item,
.layout-dark .ant-pagination-item a,
.layout-dark .ant-pagination-item-link,
.layout-dark .ant-table,
.layout-dark .ant-table-thead > tr > th,
.layout-dark .ant-input,
.layout-dark .ant-input-group-wrapper,
.layout-dark .ant-select,
.layout-dark .ant-select:not(.ant-select-customize-input) .ant-select-selector,
.layout-dark .ant-select-selection-item,
.layout-dark .ant-input-affix-wrapper,
.layout-dark .ant-input-number-input-wrap,
.layout-dark .ant-input-number-handler-wrap,
.layout-dark .ant-picker {
    background-color: #161b22;
    color: rgba(255, 255, 255, 0.85);
}

.layout-light .ant-typography,
.layout-light .ant-card-meta-title,
.layout-light .ant-card-meta-description,
.layout-light .ant-card-head-title,
.layout-light .ant-list-item-meta-title a,
.layout-light .ant-list-item-meta-description,
.layout-light .ant-breadcrumb-link,
.layout-light .ant-breadcrumb-link a,
.layout-light .ant-breadcrumb-separator,
.layout-light .ant-pagination-total-text,
.layout-light .ant-form-item-label label,
.layout-light .ant-select-arrow,
.layout-light .ant-select-item,
.layout-light .ant-form-item,
.layout-light .ant-statistic-content,
.layout-light .ant-statistic-title {    
    color: rgba(0, 0, 0, 0.85);
}

.layout-dark .ant-typography,
.layout-dark .ant-card-meta-title,
.layout-dark .ant-card-meta-description,
.layout-dark .ant-card-head-title,
.layout-dark .ant-list-item-meta-title a,
.layout-dark .ant-list-item-meta-description,
.layout-dark .ant-breadcrumb-link,
.layout-dark .ant-breadcrumb-link a,
.layout-dark .ant-breadcrumb-separator,
.layout-dark .ant-pagination-total-text,
.layout-dark .ant-form-item-label label,
.layout-dark .ant-select-arrow,
.layout-dark .ant-select-item,
.layout-dark .ant-tabs-tab-btn,
.layout-dark .ant-result-title,
.layout-dark .ant-result-subtitle,
.layout-dark .ant-statistic-content,
.layout-dark .ant-statistic-title,
.layout-dark .ant-input-number-handler-up-inner,
.layout-dark .ant-input-number-handler-down-inner,
.layout-dark .ant-picker-suffix,
.layout-dark .ant-picker-input input,
.layout-dark .ant-input-focused,
.layout-dark .ant-input:focus,
.layout-dark .ant-input:hover,
.layout-dark .ant-select-selection-item-remove,
.layout-dark .ant-space-item,
.layout-dark .ant-radio-wrapper {
    color: rgba(255, 255, 255, 0.85);
}

.layout-dark .ant-divider-with-text::after,
.layout-dark .ant-divider-with-text::before {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.ant-table-thead>tr.ant-table-row-hover:not(.ant-table-expanded-row)>td, 
.ant-table-tbody>tr.ant-table-row-hover:not(.ant-table-expanded-row)>td, 
.ant-table-thead>tr:hover:not(.ant-table-expanded-row)>td, 
.ant-table-tbody>tr:hover:not(.ant-table-expanded-row)>td {
    background: unset;
}

.ant-input-focused,
.ant-input:focus,
.ant-input:hover {
    border-color: #40a9ff;
    background: transparent;
    color: inherit;
}

.ant-list-pagination {
    margin-top: 0px;
    text-align: right;
}

.layout-light .ant-card-hoverable:hover {
    box-shadow: 0 6px 16px -8px rgb(0 0 0 / 32%), 0 9px 28px 0 rgb(0 0 0 / 20%), 0 12px 48px 16px rgb(0 0 0 / 12%);
}

.layout-dark .ant-card-hoverable:hover {
    box-shadow: 0 6px 16px -8px rgb(0 0 0 / 52%), 0 9px 28px 0 rgb(0 0 0 / 50%), 0 12px 48px 16px rgb(0 0 0 / 52%);
}

.layout-dark .ant-form-item-has-error .ant-input, 
.layout-dark .ant-form-item-has-error .ant-input-affix-wrapper, 
.layout-dark .ant-form-item-has-error .ant-input:hover, 
.layout-dark .ant-form-item-has-error .ant-input-affix-wrapper:hover {
    background: #161b22;
}

.layout-light .ant-btn-ghost {    
    background: transparent;
    border-color: #000;
    color: #000;
}

.layout-dark .ant-btn-ghost {    
    background: transparent;
    border-color: #fff;
    color: #fff;
}

.ant-btn-ghost:hover {
    background: rgba(24, 144, 255, 0.7);
}

.ant-divider {
    border-top: 1px solid rgb(127, 127, 127, 0.4);
}

/* .ant-select-dropdown {
    background-color: #161b22;    
}

.layout-dark > .ant-select-item {    
    color: rgba(255, 255, 255, 0.85);
} */
